.Password {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.Password-input {
  max-width: 100%;
  height: 1.2em;
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: transparent;
  border: none;
  appearance: none;
  resize: none;
}
.Password__hasClipboard .Password-input {
  max-width: calc(100% - 1rem);
}
.Password-input:focus {
  outline: none;
}
