.PasswordOptions {
  display: flex;
  flex-direction: column;
}
.PasswordOptions input,
.PasswordOptions textarea {
  color: #000;
  background-color: #fff;
}
.PasswordOptions-lengthInput {
  width: 4.1ch;
}
.OptionsCharSet {
  width: 100%;
  height: 1.2em;
}
