.PasswordGroup {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
}
.PasswordGroup-title {
  margin: 1rem 0 0.25rem 0;
}
.PasswordGroup-description {
  max-width: 30ch;
  margin: 0.25rem 0 0.25rem 0;
  font-size: 0.8em;
}
.PasswordGroup-items {
  margin: 0.25rem 0 0.25rem 0;
}

.PasswordGroup-refresh {
  font-size: 0.7em;
  background: transparent;
  border: none;
  cursor: pointer;
}
