.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #000;
  font-size: calc(16px + 1vmin);
  background-color: #fff;
}
@media (prefers-color-scheme: dark) {
  .App {
    color: #fff;
    background-color: #282c34;
  }
}
.App-title {
  margin: 1rem 1rem 0 1rem;
  font-size: 1.5em;
}

.App-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}
